body{
	
	margin-bottom:70px;
	padding:0;
}
.container-fluid{
	margin:50px auto 0;
	width:70%;
	
}
.title-img{
	margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

img {
	width:200px;
	height:200px;
	margin-bottom:20px;
}
h1{
	margin: 0 auto;
	
}
.subtitle{
	padding-top:10px;
	margin:0px;
}
.info {
    display: flex;
}

input {
    height: 33px;
    width: 100%;
    border: none;
    padding-left: 10px;
    
}
select,
input[type="file"] {
    height: 33px;
    font-size: 14px !important;
}


.row1{
	  margin: auto;
      display: flex;
      justify-content: space-between;
      
}

.info-title {
    width: 450px;
}

.info-detail {
    border-radius: 8px;
    background-color: #FFFDD3;
    margin-bottom: 15px;
    padding: 5px 15px 18px;
}

.info-value {}

.info-title1 {
 
    margin: 12px 50px 8px 0;
}

input{
	border:solid black 1px;
	border-radius:10px;
	
}

input[type="date"] {
    padding: 0 12px;
}

.radio-container {
  display: flex; /* Đặt các phần tử con trong một hàng */
  align-items: center; /* Căn chỉnh các phần tử con theo chiều dọc */
  margin-bottom: 20px; /* Khoảng cách dưới mỗi nhóm radio */
}

.radio-input {
  display: none; /* Ẩn radio button */
}

.radio-label {
  cursor: pointer; /* Biến đổi con trỏ thành con trỏ tay khi di chuột qua */
  margin-right: 10px; /* Khoảng cách bên phải của label */
}


.cancel {
    border: none;
    padding: 8px 20px;
    background: #e68430;
    color: white;
    border-radius: 5px;
    margin: 0 20px;
    transition: .1s ease-in-out 0s;
}


.submit {
    border: none;
    padding: 8px 20px;
    background: #3691a2;
    color: white;
    border-radius: 5px;
    margin: 0 20px;
    transition: .1s ease-in-out 0s;
}
.action{
    margin-top: 20px;
    text-align: center;
}

.cancel:hover, .submit:hover{
    opacity: 0.8;
}

.error{
    background-color: #b93636;
    padding: 6px;
    color: white;
    text-align: center;
    margin: 10px 0;
}
 .sys-button {
            margin:30px auto 30px;
            display: flex;
            justify-content: space-between;
            width: 30%; /* You can adjust this value as needed */
        }
        .sub-button {
            flex: 1;
            margin: 0 10px;
            width:100px; /* Adds spacing between buttons */
            height:50px;	
            color:#fff;
            border-radius:20px;
             cursor: pointer;
   			 transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; /* Smooth transition for the effect */
}

.sub-button:active {
    transform: scale(0.95); /* Scale down the button */
    box-shadow: 0 5px #666; /* Add shadow effect */
    transform: translateY(4px); /* Move the button slightly down */
}
