@charset "UTF-8";
body {
     margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;

    height: 100vh;
}


.register-container {
    flex: 1;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
}

.register-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.remember-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3691a2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #28778b;
}

.login-link {
    margin-top: 20px;
    display: block;
    color: #3691a2;
    text-decoration: none;
    font-size: 14px;
}

.login-link:hover {
    text-decoration: underline;
}
