@charset "UTF-8";

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

header {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFDD3;
}

header img {
	width: 150px;
	height: 110px;
	margin-right: 20px;
	/* Khoảng cách giữa logo và tiêu đề */
}

header h1 {
	font-size: 24px;
	margin-bottom: 0;
	margin-right: 20px;
	/* Khoảng cách giữa tiêu đề và phần đăng nhập/đăng ký */
	color: #FB0A0A;
	height: auto;
	width: 500px;
}

.header_top_right {
	display: flex;
	align-items: center;
	margin-left: 300px;
}

.login, .signup {
	color: #000;
	text-decoration: none;
	font-size: 16px;
	margin-right: 10px;
	border: 2px solid #666666;
	padding: 10px;
	transition: .1s ease-in 0s;
}

.login:hover, .signup:hover {
	background-color: #d93f3f;
	color: white;
	border: 2px solid #d93f3f;;
}

main {
	padding: 0px 0 20px;
	background-color: #FFFDD3;
	margin-bottom: 30px;
}

nav {
	background-color: #FB0A0A;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between; /* Cách đều các thẻ li */
	margin: 0 30px 20px 30px;
}

nav li {
	display: inline-block;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: #000;
}

section.search {
	padding: 10px;
	margin: 0 auto;
	width: 50%;
}

section.search form {
	display: flex;
	border-radius: 5px;
}

section.search input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 50px;
}

section.search button[type="submit"] {
	padding: 10px 20px;
	background-color: #FB0A0A;
	color: #fff;
	border: none;
	border-radius: 0px 5px 5px 0;
	cursor: pointer;
	margin-left: -10px;
}

.fa-magnifying-glass {
	font-size: 16px;
}

.logo {
	display: flex;
	align-items: center;
}

.login-check {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #c93f3f;
	color: white;
	cursor: pointer;
	/* 	position: relative; */
}

.login-menu {
	position: absolute;
	background-color: #f6a71d;
	top: 50px;
	right: 10px;
	transform: scale(0); 
	transition: .2s ease-in-out 0s;
}

.login-check:hover  .login-menu {
 	transform: scale(1); 
	top: 90px;
}

.login-menu p {
	margin: 0;
	width: 190px;
	text-align: center;
	padding: 5px 0;
}

.login-menu p:hover{
	background-color: #ff7927;
}