@charset "UTF-8";

header {
    
    padding: 10px;
   display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFDD3;
    
}

header img {
    width: 150px;
    height: 110px;
    margin-right: 20px;
    /* Khoảng cách giữa logo và tiêu đề */
}

header h1 {
    font-size: 24px;
    margin-bottom: 0;
    margin-right: 20px;
    /* Khoảng cách giữa tiêu đề và phần đăng nhập/đăng ký */
    color: #FB0A0A;
    height: auto;
    width: 500px;
}

.header_top_right {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.login,
.signup {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.login {
    margin-right: 10px;
    
}



main {
    padding: 20px;
    background-color: #FFFDD3;
    margin-bottom:30px;
}

nav {
    background-color: #FB0A0A;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Cách đều các thẻ li */
    margin: 0 30px 20px 30px;
}

nav li {
    display: inline-block;
    
}


nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    color: #000;
}


section.search {
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}


section.search form {
    display: flex; 
    border-radius: 5px;
    
}

section.search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:50px;
    

}

section.search button[type="submit"] {
    padding: 10px 20px;
    background-color: #FB0A0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

